#header{
  height:120px;
  background-color: #0a1c4dff;
  padding-left:20px;
  display: flex;
  align-items: center;
}
#emg{
height:120px;
width:120px;
}
.headings{
  margin:0;
  padding:0
}
#heading{
   color:white;
  font-size:40px
}
#searchs{
padding:20px;
display: flex;
}
#search{
  flex:1;
  height:40px;
  border-radius:5px;
  padding-left:15px
}
#title{
       font-size: 35px;
}
#confirm{
  height:150px;
  width:300px;
  border: 1px solid black;
  border-radius:4px;
  background-color: #fff;
  position:absolute;
  top:40%;
  left:40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:10px;
  justify-content: space-around;
}
#e{
height:400px;
width:200px;
border:2px solid black;
border-radius:5px;
display: flex;
padding: 20px;
flex-direction: column;
align-items: center;
gap:30px
}
#events{
padding:20px;
display: flex;
gap:40px;
flex-wrap: wrap;
}
#date{
    font-size: 18px;
    margin-top: -30px;
}
#namea{
}
*{
     font-family: "Afacad Flux", sans-serif;
}
#back{
  margin-left:20px;
  margin-top:20px;
  height:30px;
  width:60px;
  border-radius: 5px;
  color:white;
  background-color: #0a1c4dff;
  transition:background-color 0.4s ease
}
#back:hover{
  border: 1px solid #0a1c4dff;
  color: #0a1c4dff;
  background: none;
}

#mainadmin{
  display: flex;
  align-items: center;
  margin-top:0px;
  flex-direction: column;
  gap:20px;
  margin-top: -30px;
  margin-bottom:20px;
}
#fullview{
  display:flex;
  flex-direction: column;
height:500px;
position: absolute;
top:7%;
left:35%;
align-items: center;
background-color: #fff;
width:350px;
border:2px solid black;
border-radius:5px;
gap:10px;
padding:40px;
}
#etm{
height:50px;
width:50px;
}
#types{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}
#et{
  gap:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5px;
height:100px;
width:70px;
border-radius:5px;
border:2px solid black
}
#count{
  margin-right:20%;
  margin-top: -10px;
}
#atitle{
   height:30px;
  width:350px;
  padding-left:8px;
  background-color: #f2f2f2;
  border-radius:5px;
}
#ftitle{
  margin-bottom: 10px;
  }
#warn{
  color:red;
    
}
.loading{
  position: fixed;
  height:100px;
  width:100px;
  border:8px solid black;
  border-radius:50%;
  border-top-color:red;
  animation:rotate 1s linear infinite;
  left:46%;
  top:35%;
}
#types{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
}
#peek{
  position: absolute;
  top:7%;
  left:82%;
  height:30px;
  display: flex;
  gap:20px
 }
#marn{
  color:green;
    
}
#dis{
  margin-top:-20px
}
#submit{
  height:30px;
  width:300px;
  background-color: #0a1c4dff;
  color:white;
  border-radius:5px
}
#ldiss{
  width:350px;
  border-radius: 5px;
  padding:5px;
  background-color: #f2f2f2;
}
#username,#password{
  height:30px;
  width:300px;
  padding-left:8px;
  background-color: #f2f2f2;
  border-radius:5px;
  }
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap:20px
}
#setb{
  display:flex;
  justify-content: end;
  padding:30px;
  gap:20px
}
#setb>button{
  height:30px;
  width:100px;
  color:white;
  border-radius: 5px;
  border:none;
}
#deletes,#edits{
transition:background-color 0.4s ease
}
#deletes:hover{
  border:1px solid crimson;
  color:crimson;
    background: none;
  
}
#deletes{
  background-color: crimson;
}
#edits{
    background-color: #0a1c4dff;
}
#edits:hover{
  border:1px solid #0a1c4dff;
  color:#0a1c4dff;
    background: none;
}
#edit{
  background-color: #0a1c4dff;
}
#delete{
background-color: crimson;
transition:background-color 0.4s ease
}
#deleted{
background-color: crimson;
transition:background-color 0.4s ease
}
#delete:hover{
  background:none;
  border:1px solid crimson;
  color:crimson
}
#deletes,#edits{
  height:30px;
  width:100px;
  border:none;
  color:white;
  border-radius:5px;
}
#submit3{
  height:35px;
  background-color: #0a1c4dff;
  border-radius:5px;
  color:white;
  width:100px;
  margin-top: -10px;
  transition: background-color 0.4s ease;
}
#submit3:hover{
  border: 1px solid #0a1c4dff;
  color: #0a1c4dff;
  background: none;
}
 #fullview>p{
 font-size: 14px;
  }
 #peek>button{
   background-color: white;
  border-radius:5px;
  color:#0a1c4dff;
  width:100px;
 }
  #peek>#submit0{
  border:none;
  height:50px;
  width:50px;
  background-color:#0a1c4dff;
  color:white;
  font-size:30px;
  position: fixed;
  top:80%;
  left:90%;
  border-radius: 50%;
}
@keyframes rotate{
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
}
@media (max-width:601px) and (min-width:401px){
  #submit3{
    width:80px;
    margin-top:0;
    height:30px
  }
  #fimage{
    height:100px;
    width:100px
  }
  #confirm{
    height:100px;
    width:200px;
    left:27%
  }
  #setb{
    justify-content: center;
  }
  #deletes,#edits{
    height:20px;
    width:80px
  }
  #confirm>h1{
    font-size:25px
  }
  #fullview{
  display:flex;
  flex-direction: column;
height:500px;
position: absolute;
top:14%;
left:15%;
align-items: center;
background-color: #fff;
width:200px;
border:2px solid black;
border-radius:5px;
gap:10px;
padding:40px;
  }
  #fullview>p{
 font-size: 13px;
  }
  #e{
height:360px;
width:120px;
border:2px solid black;
border-radius:5px;
display: flex;
padding: 20px;
flex-direction: column;
align-items: center;
gap:23px
}
#emg{
height:70px;
width:70px;
}
#events{
gap:40px;}
#title{
  font-size: 20px;
}
#date{
  font-size: 13px;
      margin-top: -15px;

}
#types{
  padding:20px
}
p{
  font-size: 12px;
}
#etm{
height: 30px;
width:30px
}
#count{
  margin-right: 65%;
}
  #dis{
    margin-top:-7px
  }
    
#peek{
  position: absolute;
  top:3%;
  left:67%;
  height:25px;

}
#et{
height:70px;
width:50px
}
#atitle,#ldiss{
  width:300px
}
#mainadmin{
  margin-top: 100px;
}
  .loading{
    left:37%;
    height:80px;
    width:80px;
  }
    #peek>#submit0{
  border:none;
  height:50px;
  width:50px;
  background-color:#0a1c4dff;
  color:white;
  font-size:30px;
  position: fixed;
  top:80%;
  left:80%;
  border-radius: 50%;
}
  #heading{
    font-size:20px
  }
  #header{
    height:80px;
  }
 #peek>button{
   background-color: white;
  border-radius:5px;
  color:#0a1c4dff;
  width:100px;
  height:25px
 }
}
@media (max-width:400px){
  #heading{
    font-size:30px
  }
  #peek{
    left:60%
  }
 #submit3{
    width:80px;
    margin-top:0;
    height:30px
  }
  #fimage{
    height:100px;
    width:100px
  }
  #confirm{
    height:100px;
    width:200px;
    left:27%
  }
  #setb{
    justify-content: center;
  }
  #deletes,#edits{
    height:20px;
    width:80px
  }
  #confirm>h1{
    font-size:25px
  }
  #fullview{
  display:flex;
  flex-direction: column;
height:500px;
position: absolute;
top:14%;
left:15%;
align-items: center;
background-color: #fff;
width:200px;
border:2px solid black;
border-radius:5px;
gap:10px;
padding:40px;
  }
  #fullview>p{
 font-size: 13px;
  }
  #e{
 height:330px;
width:110px;
border:2px solid black;
border-radius:5px;
display: flex;
padding: 20px;
flex-direction: column;
align-items: center;
gap:20px
}
#emg{
height:70px;
width:70px;
}
    #peek>#submit0{
  border:none;
  height:50px;
  width:50px;
  background-color:#0a1c4dff;
  color:white;
  font-size:30px;
  position: fixed;
  top:80%;
  left:80%;
  border-radius: 50%;
}
#events{
gap:20px;}
#title{
  font-size: 20px;
}
#date{
  font-size: 13px;
      margin-top: -15px;

}
#types{
  padding:20px
}
p{
  font-size: 12px;
}
#etm{
height: 30px;
width:30px
}
#count{
  margin-right: 72%;
}
  #dis{
    margin-top:-7px
  }
    
#peek{
  position: absolute;
  top:3%;
  left:65%;
  height:25px;
  background-color: white;
  border-radius:5px;
  color:#0a1c4dff;
  width:100px;
  gap:20px
}
#et{
height:70px;
width:50px
}
#atitle,#ldiss{
  width:300px
}
 #peek>button{
   background-color: white;
  border-radius:5px;
  color:#0a1c4dff;
  width:100px;
  height:25px
 }
#mainadmin{
  margin-top: 100px;
}
  .loading{
    left:37%;
    height:80px;
    width:80px;
  }
  #heading{
    font-size:20px
  }
  #header{
    height:80px;
  }
}
