#header{
  height:120px;
  background-color: #0a1c4dff;
  padding-left:20px;
  display: flex;
  align-items: center;
}
#emg{
height:120px;
width:120px;
}
#heading{
  font-family: "Afacad Flux", sans-serif;
  color:white;
  font-size:40px
}
#searchs{
padding:20px;
display: flex;
}
#search{
  flex:1;
  height:40px;
  border-radius:5px;
  padding-left:15px
}
#title{
    font-family: "Afacad Flux", sans-serif;
    font-size: 35px;
}
#e{
height:300px;
width:180px;
border:2px solid black;
border-radius:5px;
display: flex;
padding: 20px;
flex-direction: column;
align-items: center;
}
#events{
padding:20px;
display: flex;
gap:40px;
flex-wrap: wrap;
}
#date{
 font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
    margin-top: -20px;
}
#namea{
 font-family: "Afacad Flux", sans-serif;
}
#back{
  margin-left:20px;
  margin-top:20px;
  height:30px;
  width:60px;
  border-radius: 5px;
  color:white;
  background-color: #0a1c4dff;
}
#mainadmin{
  display: flex;
  align-items: center;
  margin-top:10px;
  flex-direction: column;
  gap:20px
}
#etm{
height:50px;
width:50px;
}
#types{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}
#et{
  gap:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5px;
height:100px;
width:70px;
border-radius:5px;
border:2px solid black
}
#count{
  margin-right:20%;
  margin-top: -10px;
}
#atitle{
   height:30px;
  width:350px;
  padding-left:8px;
  background-color: #f2f2f2;
  border-radius:5px;
}
#ftitle{
  margin-bottom: 10px;
   font-family: "Afacad Flux", sans-serif;
}
#warn{
  color:red;
     font-family: "Afacad Flux", sans-serif;

}
.loading{
  position: absolute;
  height:100px;
  width:100px;
  border:8px solid black;
  border-radius:50%;
  border-top-color:red;
  animation:rotate 1s linear 5;
  left:46%;
  top:35%;
}
#submit2{
  position: absolute;
  top:90vh;
  left:90vw;
  height:30px;
  background-color: #0a1c4dff;
  border-radius:5px;
  color:white;
  width:100px;
}
#marn{
  color:green;
     font-family: "Afacad Flux", sans-serif;

}
#submit{
  height:30px;
  width:300px;
  background-color: #0a1c4dff;
  color:white;
  border-radius:5px
}
textarea{
  width:350px;
  border-radius: 5px;
  padding:5px;
  background-color: #f2f2f2;
}
#username,#password{
  height:30px;
  width:300px;
  padding-left:8px;
  background-color: #f2f2f2;
  border-radius:5px;
  }
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap:20px
}
#dis{
  margin-top:-20px;
}
@media (max-width:601px){
  #e{
height:200px;
width:100px;
border:2px solid black;
border-radius:5px;
display: flex;
padding: 20px;
flex-direction: column;
align-items: center;
gap:5px
}
#emg{
height:70px;
width:70px;
}

#title{
  font-size: 20px;
}
#date{
  font-size: 12px;
      margin-top: -5px;

}
#types{
  padding:20px
}
p{
  font-size: 12px;
}
#etm{
height: 30px;
width:30px
}
#count{
  margin-right: 72%;
}
#submit2{
  position: absolute;
  top:70%;
  left:65%;
  height:30px;
  background-color: #0a1c4dff;
  border-radius:5px;
  color:white;
  width:100px;
}
#et{
height:70px;
width:50px
}
#atitle,textarea{
  width:300px
}
#mainadmin{
  margin-top: 100px;
}
  .loading{
    left:37%;
    height:80px;
    width:80px;
  }
}
