*{
    margin:0;
    padding:0;
      font-family: "Afacad Flux", sans-serif;
}
#reject,#accept{
height:30px;
width:70px;
color:white;
border-radius: 5px;
border:none;
}
#reject{
    background-color: crimson;
    transition:background 0.4s ease
}
#rejectss{
    background-color: crimson;
    transition:background 0.4s ease;
    height:30px;
width:70px;
color:white;
border-radius: 5px;
border:none;
}
#rejectss:hover{
      border:1px solid crimson;
    color:crimson;
    background: none;
}
#accept{
    background-color: green;
    transition:background 0.4s ease
}
#accept:hover{
    border:1px solid green;
    color:green;
    background: none;
}
#reject:hover{
    border:1px solid crimson;
    color:crimson;
    background: none;
}
#buttons{
    display: flex;
    gap:10px
}
#reason{
    height:200px;
    width:300px;
    background-color: #fff;
    border:1px solid black;
    border-radius:10px;
    position:fixed;
    top:8%;
    display:flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
    left:40%;
    gap:20px;
}
#adds{
     height:30px;
  width:100px;
  border:none;
  color:white;
  border-radius:5px;
  background-color: #0a1c4dff;
  transition:background 0.4s ease
}
#adds:hover{
background: none;
border: 1px solid #0a1c4dff;
color:#0a1c4dff
}
#reason>textarea{
    width:250px
}
#req{
    padding:20px;
    gap:15px;
    width:700px;
    border:1px solid black;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    gap:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:601px){
    #req{
      width:300px;
    }
    #sdis,#ldis{
        font-size:15px
    }
    section{
        margin-top:50px
    }
    #buttons{
        margin-top: 40px;
    }
    #reason{
        width:300px;
        left:13%;
        top:7%
    }
    #reason>textarea{
        width:250px;
    }
    #reason>h1{
        font-size:14px
    }
}
